.App {
    text-align: center;
    font: Ubuntu;
    background-color: #fa824c;
    margin: auto;
    width: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100px;
}

#logorun {
    padding: 5px;
    position: absolute;
    animation: run infinite 7s linear;
}

.App-drive {
    height: 150px;
}

.App-header {
    background-color: #ff9566;
    height: 140px;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
    color: #3c91e6;
}

@keyframes run {
    0% { left: 0; transform: rotate(0deg);}
    50%{ left: 75%; transform: rotate(360deg);}
    100%{ left: 0; transform: rotate(0deg);}
}

@keyframes App-logo-spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(360deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
